html,body {
	background-color:#91A1DF;
	
}
.kep {
	float:left;
	float:top;
}
.feher {
	color:white;
}
.feketehatter {
	background-color:#475AA5;
}
.kozepre {
	text-align: center;
	float: center;
}

#fejlec {
	height: 200px;
}

#menu {
	width: 200px;
	float: left;
}

#tartalom {
	float: left;
}

#felirat {
	vertical-align: middle;
	text-align: center;
}

.portfolio_felirat {
	size: 3em;
}