html,body {
	background-color:#91A1DF;
	
}
.kep {
	float:left;
	float:top;
}
.feher {
	color:white;
}
.feketehatter {
	
	background-color:#475AA5;
}
.balra {
	float:left;
}
.kozepre {
	float:center;
}

#fejlec {
	height: 200px;
}

#menu {
	width: 200px;
}

#tartalom {

}